.team-box {

	&__link {
		display: block;
		position: relative;
		width: 100%;
		padding-bottom: 100%;
		overflow: hidden;

		&:hover {
			text-decoration: none;

			.team-box__background {
				transform: scale(1.05);
			}

			.team-box__content {
				opacity: 1;
			}
		}
	}

	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		transition: all .3s ease;
	}

	&__content {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		color: #fff;
		padding: 15px;
		background-color: hubl("$firstColor");
		opacity: .5;
		transition: all .3s ease;
	}

	&__content-header,
	&__content-subheader {
		display: block;
		width: 100%;
	}

	&__content-header {
		font-size: rem(16);
	}

	&__content-subheader {
		font-size: rem(14);
	}
}