.footer-container-wrapper {

	.row-fluid [class*="span"] {
		min-height: 0;
	}
}

.cms-footer {
	background-color: hubl("$darkBackgroundsColor");
	padding-top: rem(40);
	padding-bottom: rem(10);

	.hs_cos_wrapper_type_simple_menu {

		.hs-menu-flow-horizontal {

			a {
				color: #fff;
			}

			.hs-menu-item {
				margin-right: 50px;
				width: 100%;

				@media (min-width: 576px) {
					width: auto;
				}
			}
		}
	}
}