.header-container-wrapper {

	.row-fluid [class*="span"] {
		min-height: 0;
	}
}

.cms-header {
	background-color: hubl("$darkBackgroundsColor");
	padding-top: rem(40);
	padding-bottom: rem(10);

	.hs_cos_wrapper_type_simple_menu {

		.hs-menu-flow-horizontal {

			a {
				color: #fff;
			}
		}
	}
}