.hs_cos_wrapper_type_simple_menu {

    .hs-menu-flow-horizontal {

        ul {
            display: flex;
            padding: 0;
            list-style: none;
            width: 100%;
            flex-wrap: wrap;
            margin-bottom: rem(30);

            .hs-menu-item {
                margin-right: 30px;

                &.active {
                    > a {
                        text-decoration: underline;
                    }
                }

                a {
                    font-size: rem(18);
                    font-weight: 500;
                }
            }


            .hs-menu-children-wrapper {
                flex-direction: column;
                margin-top: rem(10);

                .hs-menu-item {
                    margin-top: rem(10);

                    a {
                        font-size: rem(16);
                        font-weight: 400;
                    }
                }
            }
        }
    }
}