$dev_version : false;

$variables : (
	"$fontFamily": ('Poppins', sans-serif),

	"$firstColor": #6C63FF,

	"$mainFontColor":#3F3D56,
	"$headersFontColor": #6C63FF,

	"$darkBackgroundsColor": #3F3D56
	);

$browser-context: 16; // Font size bazowy w px na body, html

// Przelicznik z px na em
@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em;
}

// Przelicznik z px na rem
@function rem($pixels, $context: $browser-context) {
	@return #{$pixels/$context}rem;
}

// Pętla dodająca zmienne 'habowe' //

@if $dev_version == false {
	@each $var-name, $var-value in $variables {
		/*== {% set #{$var_name} = "#{$var_value}" %} ==*/;	
	}
}

// Metoda zmieniajace zmienne habowe na sass i odwrotnie, zależne od zmiennej dev_version //
@function hubl($var){
	@if $dev_version == false {
		@return unquote('/*=={{ '+$var+' }}==*/');
		} @else {
			@return map-get($variables,$var);
		}
	}

	@function hubl_rgba($var,$alpha){
		@if $dev_version == false {
			@return unquote('/*==rgba({{ '+$var+'|convert_rgb }},'+$alpha+')==*/');
			} @else {
				@return rgba(map-get($variables,$var),$alpha);
			}
		}


	@function hubl_rgb($var){
		@if $dev_version == false {
			@return unquote('/*==rgb({{ '+$var+'|convert_rgb }})==*/');
			} @else {
				@return rgb(map-get($variables,$var));
			}
		}