* {
    outline: none;
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    margin: 0;
    padding: 0;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

video {
    max-width: 100%;
    height: auto;
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

pre {
    overflow-x: auto;
}

table pre {
    white-space: pre-wrap;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

body .row-fluid [class*="span"] {
    min-height: 1px;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
    visibility: hidden;
}

.mb {

    @for $i from 0 through 40 {
        &--#{$i*5} {
            margin-bottom: #{$i*5/$browser-context}rem;
        }
    }

    @media (min-width: 576px) {

        @for $i from 0 through 40 {
            &--sm-#{$i*5} {
                margin-bottom: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 0 through 40 {
            &--md-#{$i*5} {
                margin-bottom: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 992px) {

        @for $i from 0 through 40 {
            &--lg-#{$i*5} {
                margin-bottom: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 1100px) {

        @for $i from 0 through 40 {
            &--xl-#{$i*5} {
                margin-bottom: #{$i*5/$browser-context}rem;
            }
        }
    }
}

.pt {

    @for $i from 0 through 40 {
        &--#{$i*5} {
            padding-top: #{$i*5/$browser-context}rem;
        }
    }

    @media (min-width: 576px) {

        @for $i from 0 through 40 {
            &--sm-#{$i*5} {
                padding-top: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 0 through 40 {
            &--md-#{$i*5} {
                padding-top: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 992px) {

        @for $i from 0 through 40 {
            &--lg-#{$i*5} {
                padding-top: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 1200px) {

        @for $i from 0 through 40 {
            &--xl-#{$i*5} {
                padding-top: #{$i*5/$browser-context}rem;
            }
        }
    }
}

.pb {

    @for $i from 0 through 40 {
        &--#{$i*5} {
            padding-bottom: #{$i*5/$browser-context}rem;
        }
    }

    @media (min-width: 576px) {

        @for $i from 0 through 40 {
            &--sm-#{$i*5} {
                padding-bottom: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 0 through 40 {
            &--md-#{$i*5} {
                padding-bottom: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 992px) {

        @for $i from 0 through 40 {
            &--lg-#{$i*5} {
                padding-bottom: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 1200px) {

        @for $i from 0 through 40 {
            &--xl-#{$i*5} {
                padding-bottom: #{$i*5/$browser-context}rem;
            }
        }
    }
}