html {
    font-size: #{$browser-context}px;
}

.text-small {
    font-size: #{$browser-context - 4}px;
}

body {
    line-height: 1.5;
    font-family: hubl("$fontFamily");
    font-weight: normal;
    color: hubl("$mainFontColor");
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

small,
.small {
    font-size: 80%;
}

strong {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

cite {

}

code {

}

pre {

}

sup, sub {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

p {
    margin-top: 0;
    margin-bottom: rem(20);
}

address {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: hubl("$headersFontColor");
    margin-top: 0;
    margin-bottom: rem(20);
    font-weight: normal;

    @media (min-width: 576px) {
        margin-bottom: rem(25);
    }

    a {
        color: inherit;
    }
}

h1, .h1 {
    font-size: rem(34);
    font-weight: 500;
}

h2, .h2 {
    font-size: rem(26);
}

h3, .h3 {
    font-size: rem(24);
}

h4, .h4 {
    font-size: rem(22);
}

h5, .h5 {
    font-size: rem(20);
}

h6, .h6 {
    font-size: rem(18);
}

ul, ol {
    margin-top: 0;
    margin-bottom: rem(20);

    ul {

    }

    ol {

    }

}

ul {
    list-style: none;
}

li {

}

blockquote {}

a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-underline-position: under;
    color: hubl("$headersFontColor");
    transition: all .3s ease;

    &:hover {
        text-decoration: underline;
    }

    &:not([href]) {
        color: inherit;
        text-decoration: none;
    }
}

.hs_cos_wrapper_type_rich_text,
.hs_cos_wrapper_type_inline_rich_text {
    display: block;

    a:not(.co-cta):not(.cta_button) {
        color: hubl("$firstColor");
    }


    ul,
    ol {
        padding-left: 0;

        li {
            padding-left: 1.5em;
            margin-top: 0;
            margin-bottom: rem(10);

            @media (min-width: 576px) {
                padding-left: 2em;
            }

            > ul, ol {
                margin-top: rem(10)
            }
        }
    }

    ul {
        list-style-type: none;
        list-style-position: outside;

        > li {
            position: relative;

            &:before {
                content: "•";
                position: absolute;
                left: 0;
                width: 10px;
                height: 15px;
                top: .1em;
                text-align: center;
                font-size: 2em;
                line-height: 0.5em;
                vertical-align: middle;
                color: hubl("$firstColor");
            }
        }
    }

    ol {
        list-style-type: none;
        list-style-position: outside;
        counter-reset: list;

        > li {
            counter-increment: list;
            position: relative;

            &:before {
                position: absolute;
                left: 0;
                color: hubl("$firstColor");
                content: counter(list) ".";
                display: inline-block;
            }

            > ol {

                > li {
                    padding-left: 2.5em;

                    &:before {
                        content: counters(list, ".") ".";
                    }
                }
            }
        }
    }
}

.fc {

    &--white {
        color: #fff;

        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {
            color: #fff;
        }

        a:not(.co-cta):not(.cta_button) {
            color: #fff;
            text-decoration: underline;
        }

        i {
            color: #fff;
        }

        blockquote {

            &:before {
                background-color: #fff;
                opacity: .5;
            }
        }

        ul {

            li {

                &:before {
                    color: #fff;
                }
            }
        }

        ol {

            li {

                &:before {
                    color: #fff;
                }
            }
        }
    }

}